doctype html
html( lang="en" )
    head
        meta( charset="utf-8" )/
        title LivAnnò

        link( rel="stylesheet", href="css/styles.css" )/

    body
        main
            header
                h1 LivAnnò

                p A little guestbook with React &amp; Node using ES2015. Just a simple test.

            .container!= components.render.livanno

            footer
                a( href="http://github.com/leny/livanno" ) leny/livannò

            script.
                window.app = {
                    "data": !{ JSON.stringify( components.data ) }
                };
            script( src="js/main.js" )
